extends layout

block content
  main.container
    h1.text-center.mt-4 Página Inicial
    a.btn.btn-success.mb-4(href="/products/form") Adicionar Produto

    // Exibe apenas um resumo ou uma quantidade limitada de produtos
    if products && products.length > 0
      div.row
        each product in products
          div.col-md-4
            h5= product.name
            p= product.description || "Sem descrição"
            a.btn.btn-primary(href=`/products/${product.id}`) Ver mais
    else
      p Nenhum produto cadastrado
